.filtersContainer {
    display: none;
}

.wordCloudCanvas {
    display: none;
}

.filterClickAwayArea {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 769px) {
    .filtersContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        font: var(--body-small);
    }

    [class$='filterArea'] {
        width: 80%;
        margin: 10px;
    }

    [id$='FilterDropdownButton'] {
        color: rgb(255, 255, 255);
        background-color: rgba(240, 248, 255, 0);
    }
}

@media screen and (min-width: 1025px) {
    .filter .dropdown-menu.show {
        display: none;
    }

    
    [class$='filterArea'] {
        width: 40%;
        margin: 10px 5px;
    }

    .wordCloudCanvas {
        display: block;
        position: absolute;
        z-index: 3;
        width: 50vw;
        height: 50vh;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.952) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    [id^='tippy'] {
        color: black;
        font-size: x-large;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
    }

    #languagesWordCloudCanvas, #toolsWordCloudCanvas {
        right: 25%;
    }
}

@media screen and (min-width: 1366px) {
    .wordCloudCanvas {
        width: 50vw;
        height: 50vh;
        max-width: 800px;
        max-height: 500px;
    }

    #languagesWordCloudCanvas, #toolsWordCloudCanvas {
        right: 31%;
    }
}

@media screen and (min-width: 1814px) {
    [class$='filterArea'] {
        width: 20%;
    }

    #competenciesWordCloudCanvas {
        right: auto;
    }

    #toolsWordCloudCanvas {
        right: 25%;
    }

    #languagesWordCloudCanvas {
        right: auto;
    }
}


@media screen and (min-width: 3200px) {
    #toolsWordCloudCanvas, #languagesWordCloudCanvas {
        right: auto;
    }
}