.Cursor {
    z-index: 9999;
    position: absolute;
    top: 12px;
    pointer-events: none;

    .pointer {
        display: none;
    }

    &.pointer {
        .default {
            display: none;
        }

        .pointer {
            display: block;
        }
    }

    svg {
        fill: var(--primary-font-color);
    }
}
