.Cursor {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 12px;
    left: 3px;
    pointer-events: none;

    &.video {
        .video-cursor {
            display: block;
        }
    }

    svg {
        fill: #fefefe;
    }
}
