.Cursor {
    z-index: 9999;
    position: absolute;
    pointer-events: none;

    .pointer {
        display: none;
    }

    &.pointer {
        .default {
            display: none;
        }

        .pointer {
            display: block;
        }
    }
}
