#tech-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#tech-list > p {
  margin: 15px 0;
  color: rgb(65, 146, 253);
  border-bottom: 1px solid rgb(65, 146, 253);
  padding-bottom: 5px;
}

#tech-list > li {
  margin: 0.35em 0;
  cursor: pointer;
}

#tech-list > li:hover {
  opacity: 0.7;
}

#tech-list .count {
  color: rgb(3, 241, 43);
}
