#tech-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#tech-list > p#live-demos {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0.35em;
}

#tech-list > p#live-demos .count {
  color: red;
  text-shadow: none;
}

#tech-list .tech-category {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0.35em 0.3em;
  color: var(--primary-font-color);
  font-family: custom-bold;
  font-size: 1.1em;
  border-bottom: 1px solid var(--border-color);
}

#tech-list > li {
  width: 100%;
  margin: 0;
  padding: 0.5em 0.3em;
  cursor: pointer;
}

#tech-list > li {
  color: var(--primary-font-color);
}

#tech-list > li[data-filter-active="true"] {
  color: rgb(4, 184, 255);
}

#tech-list > li:hover,
#tech-list > li.active,
#tech-list > p#live-demos:hover,
#tech-list > p#live-demos.active {
  opacity: 0.7;
}

#tech-list .count {
  margin: 0 0.5em;
}
