#tech-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#tech-list > p#live-demos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0.35em;
  letter-spacing: 1px;
}

#tech-list > p#live-demos #circle {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: 0 0.5em;
  border-radius: 50%;
  background-color: rgb(241, 3, 3);
}

#tech-list .tech-category {
  margin: 15px 0;
  color: black;
  width: 100%;
  background-color: rgb(201, 201, 201);
  padding: 0.3em;
}

#tech-list > li {
  margin: 0.35em 0;
  padding: 0 0.3em;
  cursor: pointer;
}

#tech-list > li:hover,
#tech-list > li.active,
#tech-list > p#live-demos:hover,
#tech-list > p#live-demos.active {
  opacity: 0.7;
}

#tech-list .count {
  color: rgb(3, 241, 43);
  margin: 0 0.5em;
}
