#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--content-gap) var(--content-gap);
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    padding-bottom: 0.5rem;
}
