#tech-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#tech-list > h2 {
    margin: 10px 0 0 0;
    font-family: custom-bold;
}

#tech-list .tech-category {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0.35em 0.3em;
    color: var(--primary-font-color);
    font-family: custom-bold;
    font-size: 1.1em;
    border-bottom: 1px solid var(--border-color);
}

#tech-list > li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2px 0;
    padding: 5px 0.3em;
    cursor: pointer;
    font-size: 0.9em;
    color: var(--primary-font-color);
    transition: all 0.2s ease-in-out;

    & > input {
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    #tech-list > li {
        font-size: 1em;
    }
}

#tech-list > li.filtered-out {
    opacity: 0.5;
}

#tech-list > li:hover {
    opacity: 1;
    background-color: #252b36;
}

#tech-list > li.active {
    opacity: 0.7;
    scale: 0.95;
}

#tech-list > li:hover,
#tech-list > li.active {
    text-decoration: none;
}

#tech-list > li.selected .tech-icon,
#tech-list > li:hover .tech-icon,
#tech-list > li.active .tech-icon {
    height: 125%;
    opacity: 0.6;
    transform: rotate(15deg);
}

#tech-list .tech-icon-container {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#tech-list .tech-icon {
    position: absolute;
    user-select: none;
    pointer-events: none;
    height: 105%;
    opacity: 0.3;
    filter: contrast(2);
    transition: all 0.2s ease-in-out;
}

#tech-list .topic-label-container {
    position: relative;
    z-index: 3;
    padding-left: 10px;
    padding-right: 4em;
    transition: all 0.2s ease-in-out;
    white-space: nowrap; /* Prevent text from wrapping */
    width: fit-content; /* Adjust width to match the content */
}

#tech-list .count {
    position: absolute;
    right: 0;
}
