@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#tech-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.2s linear;

    .header {
        margin: 10px 0;
        font-family: custom-bold;
    }
}

#tech-list .tech-category-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
    transition: transform 0.2s ease-in-out;

    button {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

    &.rotated {
        opacity: 0.6;
    }

    .toggle-icon {
        fill: var(--primary-font-color);
        transition: transform 0.2s ease-in-out;

        &.rotated {
            transform: rotate(180deg);
        }
    }
}

#tech-list .tech-category {
    width: 100%;
    padding: 0.35em 0;
    color: var(--primary-font-color);
    font-family: custom-bold;
    font-size: 1.1em;
}

#tech-list > li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2px 0;
    padding: 5px 0.3em;
    cursor: pointer;
    font-size: 0.9em;
    color: var(--primary-font-color);
    transition: all 0.2s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

    & > .checkbox-label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
        padding: 0;
        margin: 0;
        border-radius: 4px;
        background-color: var(--primary-font-color);
        transition: background-color 0.2s ease-in-out;
        pointer-events: none;
    }

    & input[type='checkbox'] {
        margin: 0;
        appearance: none;
        -webkit-appearance: none;
    }

    &.selected .checkbox-label {
        background-color: var(--primary-highlight-color);
    }

    & .checkbox-icon {
        z-index: 2;
        position: absolute;
        top: -21%;
        left: -2%;
        width: 140%;
        height: 140%;
        fill: var(--secondary-highlight-color);
    }
}

@media screen and (min-width: 1440px) {
    #tech-list > li {
        font-size: 1em;
    }
}

#tech-list > li.filtered-out {
    opacity: 0.5;
}

#tech-list > li:hover {
    opacity: 1;
    background-color: #252b36;
}

#tech-list > li.active {
    opacity: 0.7;
    scale: 0.95;
}

#tech-list > li:hover,
#tech-list > li.active {
    text-decoration: none;
}

#tech-list > li.selected .tech-icon,
#tech-list > li:hover .tech-icon,
#tech-list > li.active .tech-icon {
    height: 125%;
    opacity: 0.7;
    transform: rotate(15deg);
}

#tech-list .tech-icon {
    position: absolute;
    user-select: none;
    pointer-events: none;
    height: 105%;
    margin-left: 5px;
    opacity: 0.3;
    filter: contrast(2);
    transition: all 0.2s ease-in-out;
}

#tech-list .topic-label-container {
    position: relative;
    z-index: 3;
    padding-left: 10px;
    padding-right: 4em;
    transition: all 0.2s ease-in-out;
    white-space: nowrap; /* Prevent text from wrapping */
    width: fit-content; /* Adjust width to match the content */
}

#tech-list .count {
    position: absolute;
    right: 0;
}
