.sortButtonGroupContainer {
  display: none;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 769px) {
  .sortButtonGroupContainer {
    display: initial;
    font: var(--body-small);
    margin: 10px 0px;
  }
}
