.ActivityCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--secondary-highlight-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h3,
    h4 {
        width: 100%;
        max-width: 55ch;
        overflow-wrap: break-word;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        padding: 1.5em 0;
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
        padding: 0.5em 0;
        border-bottom: 1px solid var(--border-color);
    }

    button {
        margin: 0 5px;
    }
}
