.ActivityCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--temp-gray-3);
    overflow-y: hidden;

    .top,
    .middle,
    .bottom {
        position: relative;
        width: 100%;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        height: 40%;
        padding-bottom: 20px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20%;
        background-color: black;
        border-top: 1px solid var(--temp-silver);
        border-bottom: 1px solid var(--temp-silver);
        overflow-x: hidden;

        &::after {
            z-index: 2;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            transition: left 1s ease-in-out;
        }

        &.loaded::after {
            left: 100%;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        height: 40%;
        padding: 20px 20px 0px 20px;

        h3 {
            padding-bottom: 10px;
            border-bottom: 1px solid var(--temp-silver);
        }
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--secondary-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h3,
    h4 {
        width: 100%;
        max-width: 55ch;
        overflow-wrap: break-word;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        width: 100%;
        list-style: none;
        overflow-y: auto;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
        padding: 0.5em 0;
        border-bottom: 1px solid var(--border-color);
    }

    button {
        margin: 0 5px;
    }

    .DeltaBarChart {
        .MuiChartsAxis-root .MuiChartsAxis-line {
            stroke: #f4f1f18e;
            stroke-width: 2;
        }
        .MuiChartsAxis-tick {
            stroke: #f4f1f18e;
        }

        .MuiChartsAxis-tickLabel {
            fill: #e6e6e669;
            font-size: 1rem;
        }

        .MuiChartsAxis-grid {
            stroke: #696969;
            stroke-dasharray: 2 2;
        }

        .MuiChartsGrid-line {
            stroke: #838383;
        }

        .MuiBarLabel-root {
            fill: #c8c8c8;
        }
    }
}
