.MetricsCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--temp-gray-3);

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    .MetricsCard__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 20%;
        padding: 1rem;
        background-color: black;
        border-top: 1px solid var(--temp-silver);
        border-bottom: 1px solid var(--temp-silver);
    }

    .dora-container,
    .software-quality-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 40%;
        padding: 20px;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .quality-label-container {
            width: 55%;
        }

        .grade {
            text-align: center;
            font-size: 1.25rem;
            font-family: bit-regular;
            padding: 2px 6px;
            border-bottom: 1px dotted !important;

            &.A {
                color: green;
            }

            &.B {
                color: lightgreen;
            }

            &.C {
                color: yellow;
            }

            &.D {
                color: orange;
            }

            &.E {
                color: red;
            }
        }
    }

    .deployment-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .view-deployment-link,
    .view-deployment-link:hover {
        color: var(--primary-font-color);
        text-decoration: none;
    }

    .view-deployment {
        color: var(--primary-font-color);
        font-size: 1rem;
        font-family: bit-regular;
        line-height: 1;
        text-align: center;
        min-width: 14ch;
        padding: 0.7rem 1rem;
        border: none;
        border-radius: 4px;
        background-color: var(--primary-color);

        &.disabled {
            opacity: 0.5;
            text-decoration: line-through;
        }
    }

    .view-deployment:hover,
    .view-deployment:focus {
        border-color: var(--primary-font-color);
        transition: border-color 0.3s ease-in-out;
    }

    .view-deployment:active {
        scale: 0.95;
    }

    @keyframes pulsate {
        0% {
            transform: scale(0.1, 0.1);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2, 1.2);
            opacity: 0;
        }
    }

    .circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #df0000;
        border-radius: 50%;
        margin-left: 2px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
    }
}
