.DevsChoiceBadge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 70px;
    height: 70px;
    padding: 3px;
    border-radius: 800%;
    background-color: var(--background-color);
    /* box-shadow:
            rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    color: var(--primary-font-color);
    transform: rotate(25deg);
    font-family: custom-regular;
    font-size: 10px;

    span {
        display: block;
    }
}
