.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    aspect-ratio: 4/3;
    background-color: var(--experimental-color);
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 1px solid var(--border-color);
    border-radius: 4px !important;
    padding: 15px;
    color: var(--primary-font-color);
    opacity: 1;
    transition: opacity 0.5s;

    @media screen and (min-width: 1440px) {
        & {
            padding: 25px;
        }
    }

    &.not-featured {
        pointer-events: none;
        opacity: 0.1;
    }

    .FeaturedRibbon {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
}

.project-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.project-overlay > #content {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--primary-font-color);
    background-color: color-mix(in srgb, var(--primary-color) 80%, transparent);
    transition: 0.5s;

    > .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
}

.project-overlay:hover > #content {
    left: 0;

    .circle {
        display: inline-block;
    }
}

.project-overlay::after {
    z-index: 3;
    position: absolute;
    content: '';
    top: 0;
    left: -125%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transition: opacity 0.5s;
    transform: skew(-25deg);
    -webkit-animation: shine 15s infinite;
    animation: shine 15s infinite;
    pointer-events: none;
}

@media screen and (min-width: 1920px) {
    .project-overlay::after {
        animation-delay: 5s;
    }
}

@media screen and (min-width: 2160px) {
    .project-overlay::after {
        animation-delay: 7s;
    }
}

.project-card.not-featured .project-overlay::after {
    opacity: 0;
}

.project-overlay:hover::after {
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
    .project-overlay::after {
        display: none;
    }
}

.project-name {
    font-family: custom-bold;
    font-style: oblique;
    font-size: 1.05em;
    padding: 1em 0.5em;
    margin: 0;
}

@media screen and (min-width: 1150px) {
    .project-name {
        font-size: 1.36em;
        padding: 1em;
    }
}

.language-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1.5em !important;
}

.language-icon {
    height: 1.1em;
}

.project-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: fill;
    opacity: 0;
    transition: opacity 0.5s;

    &.loaded {
        opacity: 1;
    }
}

.project-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .view-count,
    .project-pill {
        color: var(--primary-font-color);
        font-family: custom-regular;
        font-size: 0.7em;
    }

    @media screen and (min-width: 1440px) {
        .view-count,
        .project-pill {
            font-size: 0.9em;
        }
    }

    .project-pill {
        padding: 4px 8px;
        border-radius: 10px;
        background-color: var(--secondary-font-color);
    }

    .view-count {
        opacity: 0.7;
        transition: all 0.5s ease-in-out;

        &.loading {
            font-size: 0.7em;
            animation: fadeLoop 2.5s ease-in-out infinite;
        }
    }

    .project-description {
        position: relative;
        width: 100%;
        display: -webkit-box;
        line-clamp: 2; /* Number of lines to show */
        -webkit-line-clamp: 2; /* Number of lines to show */
        font-family: custom-regular;
        font-size: 0.9em;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (min-width: 1440px) {
            & {
                font-size: 1em;
            }
        }
    }
}
