.Garganta {
    position: relative;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    align-items: center;
    width: 65%;
    height: 100%;

    .Garganta__line {
        position: relative;
        height: 90%;
        background-color: black;

        &:nth-child(1),
        &:nth-child(18) {
            height: 20%;
        }

        &:nth-child(2) {
            top: 2%;
            height: 50%;
        }

        &:nth-child(17) {
            height: 50%;
        }

        &:nth-child(3) {
            top: -5%;
            height: 90%;
        }

        &:nth-child(4) {
            top: 10%;
            height: 80%;
        }

        &:nth-child(5) {
            top: -12%;
            height: 93%;
        }

        &:nth-child(6),
        &:nth-child(7) {
            top: 2%;
            height: 75%;
        }

        &:nth-child(8) {
            top: 13%;
            height: 75%;
        }

        &:nth-child(9) {
            top: 0;
            height: 80%;
        }

        &:nth-child(10) {
            top: -5%;
            height: 100%;
        }

        &:nth-child(11) {
            top: 7%;
            height: 90%;
        }

        &:nth-child(12) {
            top: 5%;
            height: 95%;
        }

        &:nth-child(13) {
            top: 6%;
            height: 80%;
        }

        &:nth-child(14) {
            top: -7%;
            height: 95%;
        }

        &:nth-child(15) {
            height: 70%;
        }

        &:nth-child(16) {
            top: 2.5%;
            height: 75%;
        }
    }
}
