.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: custom-thin;
    font-size: 0.9rem;
    width: var(--sidebar-width);
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    background-color: transparent;
    color: var(--primary-font-color);

    .sidebar-title {
        font-family: custom-bold;
        font-size: 1.2rem;
        padding-bottom: 1.5em;
    }

    .sidebar-list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5em;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .language-item {
        width: 100%;
        transition: opacity 0.5s ease-in-out;

        &.redacted {
            opacity: 0.7;

            .language-label {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-style: italic;
                text-decoration: line-through;
                opacity: 0.5;
                border: 1px solid var(--primary-font-color);
                clip-path: polygon(
                    0% 41%,
                    13% 41%,
                    13% 6%,
                    87% 6%,
                    87% 93%,
                    10% 93%,
                    10% 13%,
                    89% 13%,
                    89% 6%,
                    3% 6%,
                    3% 8%,
                    16% 8%,
                    16% 79%,
                    0% 79%,
                    0% 99%,
                    92% 99%,
                    92% 90%,
                    5% 90%,
                    5% 60%,
                    0% 60%,
                    0% 48%,
                    89% 48%,
                    89% 13%,
                    80% 13%,
                    80% 43%,
                    95% 43%,
                    95% 19%,
                    80% 19%,
                    80% 85%,
                    38% 85%,
                    38% 62%
                );
            }
        }
    }

    .language-label-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 0.5em;
    }

    .language-level-container {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 8px;
        background-color: black;
    }

    .language-level {
        transition: width 0.5s ease-in-out;
        display: inline-block;
        width: 0%;
        height: 4px;
        background-color: var(--secondary-color);
    }
}

.sidebar > button {
    z-index: 2;
    position: absolute;
    top: 1em;
    right: calc(0% - 1em);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-highlight-color);
    border: none;
    border-radius: 0;

    &:hover {
        filter: brightness(1.3);
    }

    &:active {
        scale: 0.9;
        opacity: 0.8;
    }

    &.open svg {
        transform: rotate(180deg);
    }

    &.closed svg {
        transform: rotate(0deg);
    }

    svg {
        fill: var(--primary-font-color);
        transition: transform 1s linear;
    }
}
