:root {
  --navbar-height: 7em;
  --navbar-vertical-padding: 1em;
  --navbar-horizontal-padding: 0;
}

#app-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  margin: 0;
  padding: var(--navbar-vertical-padding) var(--navbar-horizontal-padding);
  color: white;
  background: radial-gradient(
    circle farthest-corner at top right,
    #1b2028 3%,
    #000001 70%
  );
}

#app-nav > h1 {
  font-size: 2em;
  font-family: custom-bold;
}
