#NotAScrollbar {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5px;
    background-color: transparent;

    #project-options {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: transparent;

        .project-option {
            position: relative;
            width: 100%;
            flex: 1;
            background-color: var(--secondary-color);
            border-bottom: 1px dotted black;

            &.selected {
                background-color: var(--tertiary-color);
            }

            &:hover {
                width: 150%;
            }

            button {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                border: none;
                background-color: transparent;
            }
        }
    }
}
