#project-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px 10px;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 10px 10px 10px calc(1em + 15px);
  background-color: #1b2028;
}

@media screen and (min-width: 769px) {
  #project-grid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 10px;
  }
}

@media screen and (min-width: 1280px) {
  #project-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1920px) {
  #project-grid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media screen and (min-width: 2160px) {
  #project-grid {
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  }
}

#project-grid-overlay {
  pointer-events: none;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 80%,
    rgba(0, 0, 0, 0.418) 99%
  );
}
