:root {
    --navbar-height: 4em;
    --navbar-vertical-padding: 1em;
    --navbar-horizontal-padding: 20px;
}

@media screen and (min-width: 769px) {
    :root {
        --navbar-horizontal-padding: 22.5px;
    }
}

#app-nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    margin: 0;
    padding: var(--navbar-vertical-padding) var(--navbar-horizontal-padding);
    border-bottom: 2px solid var(--border-color);
    box-shadow:
        rgba(0, 0, 0, 0.21) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.45) 0px 4px 6px -2px;
    color: var(--primary-font-color);
    background-color: var(--background-color);

    a {
        text-decoration: none;
        color: var(--primary-font-color);
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
        font-family: custom-regular;
    }

    #github-icon,
    .icon {
        width: 1.5em;
        height: 1.5em;
        fill: var(--primary-font-color);
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
            transform: scale(1.1);
        }

        &:active {
            opacity: 0.5;
            transform: scale(0.95);
        }
    }
}

#app-nav > h1 {
    display: none;
    font-size: 2em;
    font-family: custom-bold;
    letter-spacing: -1px;
}

#mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

#desktop-menu {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 965px) {
    #app-nav > h1 {
        display: initial;
    }

    #mobile-menu-icon,
    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        display: flex;
    }
}
