.DigitalRain {
    z-index: 2;
    position: relative;
    top: -5%;
    display: block;
    width: 65%;
    height: 190px;
    background-color: black;
    clip-path: polygon(
        0.06% 61.76%,
        5.53% 61.76%,
        5.53% 76.74%,
        11.29% 76.74%,
        11.29% 87.7%,
        16.65% 87.7%,
        16.65% 97.86%,
        22.35% 97.86%,
        22.35% 82.09%,
        27.94% 82.09%,
        27.94% 87.7%,
        38.99% 87.7%,
        38.99% 97.86%,
        44.47% 97.86%,
        44.47% 87.7%,
        50.11% 87.7%,
        50.11% 92.25%,
        55.53% 92.25%,
        55.53% 100%,
        66.82% 100%,
        66.82% 94.92%,
        72.35% 94.92%,
        72.35% 89.84%,
        77.82% 89.84%,
        77.82% 81.55%,
        83.41% 81.55%,
        83.41% 87.7%,
        88.83% 87.7%,
        88.83% 74.87%,
        94.24% 74.87%,
        94.24% 61.23%,
        99.94% 61.23%,
        99.94% 44.65%,
        94.24% 44.65%,
        94.24% 31.82%,
        88.83% 31.82%,
        88.83% 22.46%,
        77.82% 22.46%,
        77.82% 2.94%,
        72.35% 2.94%,
        72.35% 22.46%,
        66.82% 22.46%,
        66.82% 14.44%,
        61.23% 14.44%,
        61.23% 18.72%,
        55.53% 18.72%,
        55.53% 2.94%,
        50.11% 2.94%,
        50.11% 16.58%,
        44.47% 16.58%,
        44.47% 31.82%,
        38.99% 31.82%,
        38.99% 20.86%,
        27.94% 20.86%,
        27.94% 0.27%,
        22.35% 0.27%,
        22.35% 25.67%,
        16.65% 25.67%,
        16.65% 8.02%,
        11.29% 8.02%,
        11.29% 31.82%,
        5.53% 31.82%,
        5.53% 44.12%,
        0.06% 44.12%,
        0.06% 61.76%
    );
}
