.project-detail {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 2.5em;
  color: var(--primary-font-color);
  background-color: #1b2028;
  background: radial-gradient(
    circle farthest-corner at top left,
    #1b2028 3%,
    #000001 100%
  );
  transition: 0.5s;
  overflow-y: auto;

  > h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    width: 100%;
    max-width: 75ch;
  }

  > p {
    font-size: 1rem;
    margin-bottom: 1em;
    width: 100%;
    max-width: 75ch;
  }
}
