.project-detail {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  color: var(--primary-font-color);
  background-color: #1b2028;
  background: radial-gradient(
    circle farthest-corner at top left,
    #1b2028 3%,
    #000001 100%
  );
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;

  .project-detail__image {
    width: 100vw;
    height: 100%;
    object-fit: fill;
    opacity: 0.5;
  }

  .project-detail__title {
    font-size: 7vw;
    font-family: custom-bold;
    font-style: oblique;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-grow: 1;
  }
}
