.project-card {
  position: relative;
  display: flex;
  width: 100%;
  aspect-ratio: 4/3;
  background-color: #3d485300;
  background-image: linear-gradient(360deg, #252b3294, #0b0e12d4 74%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1px solid var(--border-color);
  border-radius: 0 !important;
  color: var(--primary-font-color);
  opacity: 1;
  transition: opacity 0.5s;

  &.not-featured {
    pointer-events: none;
    opacity: 0.1;
  }
}

.project-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.project-overlay > #content {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-font-color);
  background-color: #1b2028e8;
  transition: 0.5s;

  > .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
}

.project-overlay:hover > #content {
  left: 0;
}

.project-card.featured .project-overlay::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: -125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transition: opacity 0.5s;
  transform: skew(-25deg);
}

.project-card.featured:nth-child(odd) .project-overlay::after {
  -webkit-animation: shine 6s infinite;
  animation: shine 6s infinite;
}

.project-card.featured:nth-child(even) .project-overlay::after {
  -webkit-animation: shine 6s infinite;
  animation: shine 6s infinite;
  animation-delay: 2.1s;
}

.project-overlay:hover::after {
  opacity: 0;
}

@-webkit-keyframes shine {
  0%,
  40% {
    left: -125%;
  }

  60%,
  100% {
    left: 125%;
  }
}
@keyframes shine {
  0%,
  40% {
    left: -125%;
  }

  60%,
  100% {
    left: 125%;
  }
}

.project-name {
  font-family: custom-bold;
  font-style: oblique;
  font-size: 1em;
  padding: 1em;
}

@media screen and (min-width: 729px) {
  .project-name {
    font-size: 1.38em;
  }
}

.live-demo-link,
.learn-more {
  font-size: 0.75em;
}

@media screen and (min-width: 729px) {
  .live-demo-link,
  .learn-more {
    font-size: 1em;
  }
}

.live-demo-link {
  color: #df0000;
  text-decoration: none;
}

.live-demo-link:hover {
  color: #df0000;
  text-decoration: none;
}

.learn-more {
  cursor: pointer;
  color: rgb(4, 184, 255);
}

.live-demo-link:hover,
.learn-more:hover,
.live-demo-link:focus,
.learn-more:focus,
.live-demo-link:active,
.learn-more:active {
  opacity: 0.5;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #df0000;
  border-radius: 50%;
  margin-left: 2px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.language-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1.5em;
}

.language-icon {
  height: 1.1em;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
