#sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 16em;
  height: 100%;
  margin: 0;
  padding: 1em 1.5em;
  border-right: 2px outset var(--border-color);
  color: white;
  background: radial-gradient(
    circle farthest-corner at top left,
    #1b2028 3%,
    #000001 70%
  );
}
