:root {
    --project-detail-content-width: 100%;
    --project-detail-content-padding: 16px;
}

@media screen and (min-width: 768px) {
    :root {
        --project-detail-content-width: 80%;
        --project-detail-content-padding: 1.25em;
    }
}

#ProjectDetail {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    color: var(--primary-font-color);
    background-color: var(--primary-color);
    background: radial-gradient(
        circle farthest-corner at top left,
        var(--primary-color) 3%,
        var(--secondary-color) 100%
    );
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;

    .loading {
        animation: fadeLoop 2.5s ease-in-out infinite;
    }

    .meta {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
        font-size: 0.9em;
        font-style: italic;
        opacity: 0.8;
    }

    .context {
        font-size: 1em;
        font-style: italic;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        width: 100%;

        button {
            color: var(--primary-font-color);
            font-size: 1.2em;
            font-family: custom-regular;
            line-height: 1;
            text-align: center;
            min-width: 14ch;
            width: 100%;
            padding: 6px 8px;
            border: 2px solid var(--primary-highlight-color);
            border-radius: 4px;
            background-color: var(--primary-color);
        }

        button:hover,
        button:focus {
            cursor: pointer;
            border-color: var(--primary-font-color);
            transition: border-color 0.3s ease-in-out;
        }

        button:active {
            scale: 0.95;
        }

        .demo-link,
        .github-link {
            width: 100%;
        }

        @media screen and (min-width: 481px) {
            & {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            .demo-link,
            .github-link,
            button {
                width: auto;
            }
        }
    }
}

#ProjectDetail > #project-detail-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: var(--project-detail-content-padding);
    padding-bottom: 0;
    margin: 0;
    color: var(--primary-font-color);
}

#ProjectDetail > #project-detail-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 16px;
    flex-grow: 1;
    padding: var(--project-detail-content-padding);
}

@media screen and (min-width: 768px) {
    #ProjectDetail > #project-detail-content {
        flex-direction: row;
        justify-content: center;
        gap: 0;
        padding: 0;
    }
}

#image-container,
#info-container {
    position: relative;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    #image-container,
    #info-container {
        width: 50%;
        height: 100%;
    }
}

#image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-container img {
    width: var(--project-detail-content-width);
    aspect-ratio: 4/3;
    border: 1px solid var(--border-color);
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (min-width: 768px) {
    #image-container img {
        width: 85%;
    }
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    h1,
    p {
        text-align: left;
        padding: 0;
        margin: 0;
    }

    > h1 {
        width: 100%;
        font-size: 1.45em;
        font-family: custom-bold;
        font-style: oblique;
        line-height: 1;
        margin-left: -2px;
    }

    @media screen and (min-width: 768px) {
        > h1 {
            width: auto;
            font-size: 2em;
        }
    }

    p {
        font-size: 1em;
        width: var(--project-detail-content-width);
        max-width: 75ch;
    }

    @media screen and (min-width: 1440px) {
        p {
            font-size: 1.2em;
        }
    }
}

@media screen and (min-width: 768px) {
    #info-container {
        align-items: flex-start;
    }
}

#topics {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: var(--project-detail-content-width);
    padding-bottom: 1em;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

@media screen and (min-width: 768px) {
    #topics {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .topic {
        font-size: 1vw;
    }
}
