@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.25rem));
    }
}

.InfiniteScroller {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    min-height: 5.3rem;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );

    > ul.lane {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
        width: fit-content;

        &.left,
        &.right {
            animation: scroll 70s linear infinite;
        }

        &.left {
            animation-direction: normal;
        }

        &.right {
            animation-direction: reverse;
        }

        &:hover {
            animation-play-state: paused;
        }
    }
}
