#ProjectDetail {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  color: var(--primary-font-color);
  background-color: #1b2028;
  background: radial-gradient(
    circle farthest-corner at top left,
    #1b2028 3%,
    #000001 100%
  );
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

#ProjectDetail > #project-detail-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1em 1.25em 0 1.25em;
  margin: 0;
  color: var(--primary-font-color);
}

#ProjectDetail > #project-detail-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

#image-container,
#info-container {
  position: relative;
  width: 50%;
  height: 100%;
}

#image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-container img {
  width: 85%;
  aspect-ratio: 4/3;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  h1,
  p {
    text-align: left;
  }

  h1 {
    margin-left: -3px;
    font-size: 3.5vw;
    font-family: custom-bold;
    font-style: oblique;
  }

  p {
    font-size: 1em;
    width: 80%;
    max-width: 75ch;
  }
}

#metadata {
  width: 80%;
  border-collapse: collapse;
  font-size: 0.85em;

  a {
    color: rgb(4, 184, 255);
    text-decoration: none;
  }

  a:hover {
    opacity: 0.7;
  }

  td {
    cursor: default;
    padding: 0.3em 0.8em;
    border: 1px solid var(--border-color);
    text-align: left;
  }

  .icon {
    width: 0.85em;
    height: 0.85em;
    margin: -0.2em 5px 0 0;
    fill: var(--primary-font-color);
  }
}

#topics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
}

.topic {
  cursor: default;
  padding: 0.3em 0.8em;
  border-radius: 1em;
  color: var(--primary-font-color);
  font-size: 0.85em;
  background-color: var(--secondary-font-color);
  box-shadow: rgba(0, 0, 0, 0.21) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.45) 0px 4px 6px -2px;
}
