/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: custom-bold;
  src: url("./fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: custom-regular;
  src: url("./fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: custom-thin;
  src: url("./fonts/Raleway/Raleway-Thin.ttf");
}

/* ------------------- VARIABLES ------------------- */

:root {
  --primary-color: #28313b;
  --overlay-color: #28313b9a;
}

/* ------------------- GLOBAL ------------------- */

html,
body,
div#root {
  height: 100%;
  width: 100%;
}

html {
  overflow-x: hidden;
  font-family: custom-regular;
  background-color: black;
}

@media screen and (min-width: 769px) {
  html {
    overflow-x: auto;
  }
}

body {
  /* background-color: #000000;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed; */
  background: radial-gradient(
    circle farthest-corner at top left,
    #1b2028 3%,
    #000001 70%
  );
}

body::-webkit-scrollbar,
ul::-webkit-scrollbar,
.timeline::-webkit-scrollbar,
.projectCardScrollContainer::-webkit-scrollbar,
.projectCardBody::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}

body::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
.timeline::-webkit-scrollbar-track,
.projectCardScrollContainer::-webkit-scrollbar-track,
.projectCardBody::-webkit-scrollbar-track {
  background: #000000; /* color of the tracking area */
  border: none;
}

body::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
.timeline::-webkit-scrollbar-thumb,
.projectCardScrollContainer::-webkit-scrollbar-thumb,
.projectCardBody::-webkit-scrollbar-thumb {
  background-color: aliceblue; /* color of the scroll thumb */
  border-radius: 4px;
}

/* ------------------- FX ------------------- */

.overlay {
  z-index: -1;
  top: 0;
  background-color: #28313b6b;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

/* ------------------- TITLE CARD ------------------- */

.titleCard {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  visibility: visible;
  background: radial-gradient(
    circle farthest-corner at top left,
    #1b2028 3%,
    #000001 70%
  );
  transition: all 2.7s linear;
  transition-delay: 3s;
}

.titleCard.transition {
  left: -115vw;
  visibility: hidden;
}

.appTitle {
  font-size: 1.13rem;
  font-family: custom-bold;
}

.appSubtitle {
  font-size: 0.75rem;
  font-family: custom-thin;
}

@media screen and (min-width: 481px) {
  .appTitle {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 769px) {
  .appTitle {
    font-size: 2.8rem;
    transition: all 1.2s linear;
  }

  .appSubtitle {
    font-size: 1rem;
  }
}

.appSubtitle.loading {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/* ------------------- CONTENT ------------------- */

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}

.content > div:first-of-type {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
